@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "忘記密碼";
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

<p>
    請正確填寫以下資訊，系統將會重設密碼
</p>
@if (Model?.ResultMsg != null)
{
    <div class="text-danger mb-2">
        @Model.ResultMsg
    </div>
}
<form asp-action="ForgotPassword" method="post">
    <div class="mb-2">
        <label asp-for="UserName">註冊的帳號：</label>
        <styled-input type="text" asp-for="UserName" required="true"></styled-input>
    </div>
    <div class="mb-2">
        <label asp-for="Name">註冊的使用者名稱：</label>
        <styled-input type="text" asp-for="Name" required="true"></styled-input>
    </div>
    <div class="mb-2">
        <label asp-for="Email">註冊的電子郵件地址：</label>
        <styled-input type="email" asp-for="Email" required="true"></styled-input>
    </div>
    <div class="mb-2">
        <input type="submit" value="重設密碼" class="btn btn-primary" />
    </div>
    </div>
</form>