@model UserDTO
@{
    ViewData["Title"] = "登入";
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

<form method="post" asp-action="Index" asp-asp-controller="Login">
    <div class="mb-1">
        <styled-input type="text" asp-for="UserName" placeholder="帳號"></styled-input>
    </div>
    <div class="mb-3">
        <styled-input type="password" asp-for="Password" placeholder="密碼"></styled-input>
    </div>
    <input id="loginBtn" type="submit" class="btn btn-primary" value="登入" />
    <input id="registerBtn" type="button" class="btn btn-secondary" value="註冊" />
</form>

<p>
    @if(ViewBag.ErrorMsg != null)
    {
        <span style="color: red;">@ViewBag.ErrorMsg</span>
    }
</p>

@section Scripts {
    <script>
        document.getElementById("registerBtn").addEventListener("click", () => {
            window.location.href = "/Login/Register";
        });
    </script>
}

@* @section HeadScripts {

    <script>
        window.addEventListener("pageshow", () => {
            if(event.persisted){
                // 動作..
                document.querySelector("form").submit();
            }
        });
    </script>
} *@