
@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

<form method="post" asp-action="Login" asp-asp-controller="Login">
    <input type="text" id="username" name="username" placeholder="帳號" />
    <input type="password" id="password" name="password" placeholder="密碼" />
    <input type="submit" value="登入" />
</form>

<p>
    {
        @if(ViewBag.ErrorMsg != null)
        {
            <span style="color: red;">@ViewBag.ErrorMsg</span>
        }
    }
</p>