@model UserDTO
@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

<form method="post" asp-action="Index" asp-asp-controller="Login">
    <input type="text" asp-for="UserName" placeholder="帳號" />
    <input type="password" asp-for="Password" placeholder="密碼" />
    <input type="submit" value="登入" />
</form>

<p>
    {
        @if(ViewBag.ErrorMsg != null)
        {
            <span style="color: red;">@ViewBag.ErrorMsg</span>
        }
    }
</p>