
@{
    ViewData["Title"] = "註冊會員訊息";
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

@if((TempData["RegiserSuccessfully"] != null) && (bool)TempData["RegiserSuccessfully"])
{
    <p>
        註冊成功!<a asp-action="Index" asp-area="" asp-controller="Login">請點此登入帳號</a>
    </p>
}

@TempData["RegiserMsg"]