@model RegisterUserViewModel
@{
    ViewData["Title"] = "註冊會員";
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])
@if(ViewBag.ErrorMsg != null)
{
    <div style="color: red;">
        @ViewBag.ErrorMsg
    </div>
}
<form method="post" asp-action="Register" asp-controller="Login">
    <div class="mb-2">
        *<label asp-for="UserInfo.UserName"></label>
        <styled-input type="text" asp-for="UserInfo.UserName" placeholder="帳號" required=true></styled-input>
    </div>
    <div class="mb-2">
        *<label asp-for="UserInfo.Password"></label>
        <styled-input type="password" asp-for="UserInfo.Password" required=true></styled-input>
    </div>
    <div class="mb-2">
        *<label for="confirmPassword">確認密碼</label>
        <styled-input type="password" asp-for="ConfirmPassword" required=true></styled-input>
    </div>
    <div class="mb-2">
        *<label asp-for="UserInfo.Name"></label>
        <styled-input type="text" asp-for="UserInfo.Name" required=true></styled-input>
    </div>
    <div class="mb-2">
        <label asp-for="UserInfo.Email"></label>
        <styled-input type="email" asp-for="UserInfo.Email"></styled-input>
    </div>
    <div class="mb-2">
        <label asp-for="UserInfo.Phone"></label>
        <styled-input type="tel" asp-for="UserInfo.Phone"></styled-input>
    </div>
    <div class="mb-2">
        <label asp-for="UserInfo.Country"></label>
        <select asp-for="UserInfo.Country" asp-items="@Model.Cities"></select>
    </div>
    <div class="mb-2">
        <label asp-for="UserInfo.City"></label>
        <styled-input type="text" asp-for="UserInfo.City"></styled-input>
<div class="mb-2">
        <label asp-for="UserInfo.Address"></label>
        <styled-input type="text" asp-for="UserInfo.Address"></styled-input>
    </div>
    <div class="mb-2">
        <input type="submit" value="註冊" class="btn btn-primary" />
        <input type="reset" value="重設" class="btn btn-secondary" />
    </div>
</form>
