@{
    ViewData["Title"] = "密碼重設";
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

@if(!string.IsNullOrEmpty(ViewBag.UserName))
{
    <p class="text-success mb-3">
        您的密碼已重設，請重新登入後至會員中心變更密碼，並妥善保存重設密碼。
    </p>
    <p>
        帳號：@ViewBag.UserName <br />
        您的新密碼：@ViewBag.TempPassword
    </p>
}