@model ChangePasswordViewModel
@{
    ViewData["Title"] = "會員密碼修改";
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

@if(Model != null && !string.IsNullOrEmpty(Model.ResultMessage))
{
    <p class="text-danger mt-3">@Model.ResultMessage</p>
}

<form asp-action="ChangePassword" method="post" class="form-horizontal">
    <div class="form-group mb-3">
        <span>帳號：</span>
        <span>@User.Identity?.Name</span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="OldPassword"></label>
        <styled-input type="password" asp-for="OldPassword" required="true"></styled-input>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NewPassword"></label>
        <styled-input type="password" asp-for="NewPassword" required="true"></styled-input>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword"></label>
        <styled-input type="password" asp-for="ConfirmPassword" required="true"></styled-input>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">變更密碼</button>
</form>