@model ChangePasswordViewModel
@{
    ViewData["Title"] = "會員密碼修改";
}
@section Styles {
    <style>
        #edit-box div {
            display: flex;
        }
        .form-group label, .form-group span.username {
            text-align: right;
            display: inline-block;
            width: 80px;
            margin-right: 1rem
        }
    </style>
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

@if(Model != null && !string.IsNullOrEmpty(Model.ResultMessage))
{
    <p class="text-danger mt-3">@Model.ResultMessage</p>
}

<form id="edit-box" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div class="form-group mb-3">
        <span class="username color-blue-3">帳號</span>
        <span>@User.Identity?.Name</span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="OldPassword" class="color-blue-3"></label>
        <styled-input type="password" asp-for="OldPassword" required="true"></styled-input>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NewPassword" class="color-blue-3"></label>
        <styled-input type="password" asp-for="NewPassword" required="true"></styled-input>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword" class="color-blue-3"></label>
        <styled-input type="password" asp-for="ConfirmPassword" required="true"></styled-input>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">變更密碼</button>
    <button type="button" id="backBtn" class="btn btn-secondary">返回</button>
</form>

@section Scripts{
    <script>
        document.querySelector("#backBtn").addEventListener("click", () => {
            history.back();
        });
    </script>
}