@model EditUserInfoViewModel
@{
    ViewData["Title"] = "會員資料修改";
}
@section Styles {
    <style>
        #edit-box div {
            display: flex;
        }
        .form-group label {
            text-align: right;
            width: 80px;
            margin-right: 1rem
        }
    </style>
}

@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])

@if(!string.IsNullOrEmpty(Model.ResultMsg))
{
    <p class="text-danger">@Model.ResultMsg</p>
}
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" id="edit-box" method="post">
    <div class="form-group mb-2">
        <label asp-for="UserInfo.UserName" class="color-blue-3"></label>
        <span>@Model.UserInfo.UserName</span>
        <input type="hidden" asp-for="UserInfo.UserName" />
    </div>
    <div class="form-group mb-2">
        <label asp-for="UserInfo.Password" class="color-blue-3"></label>
        <span>********** <a asp-action="ChangePassword" class="btn btn-warning">更改密碼</a></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="UserInfo.Name" class="color-blue-3"></label>
        <styled-input type="text" asp-for="UserInfo.Name"></styled-input>
        <span asp-validation-for="UserInfo.Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="UserInfo.Email" class="color-blue-3"></label>
        <styled-input type="text" asp-for="UserInfo.Email"></styled-input>
        <span asp-validation-for="UserInfo.Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="UserInfo.Phone" class="color-blue-3"></label>
        <styled-input type="text" asp-for="UserInfo.Phone"></styled-input>
        <span asp-validation-for="UserInfo.Phone" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="UserInfo.City" class="color-blue-3"></label>
        <select asp-for="UserInfo.City" asp-items="@Model.Cities" class="p-2"></select>
        <span asp-validation-for="UserInfo.City" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="UserInfo.Address" class="color-blue-3"></label>
        <styled-input type="text" asp-for="UserInfo.Address"></styled-input>
        <span asp-validation-for="UserInfo.Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
    <button type="button" id="backBtn" class="btn btn-secondary">返回</button>
</form>

@section Scripts
{
    <script>
        document.querySelector("#backBtn").addEventListener("click", () => {
            location.href = "@Url.Action("UserCenter")";
        });
    </script>
}