@model IEnumerable<ShoppingCartDTO>

@{
    ViewData["Title"] = "購物車結帳";
}
@await Html.PartialAsync("Ordinary/_TitlePartial", ViewData["Title"])
@TempData["ErrorMessage"]

@await Html.PartialAsync("_CartItemsPartial", Model)

@* <button id="checkoutBtn" class="btn btn-primary">結帳</button> *@

@section Scripts {
    <script src="~/js/cart.js"></script>

    <script>
        checkoutCartInit();     
    </script>
}